.membershipContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Heading */
.heading {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
  transition: 0.3s ease-in;
  border-bottom: 3px solid var(--primary);
}

/* Introduction */
.introduction {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

/* Membership cards */
.membershipCards {
  gap: 1.5rem;
  width: 100%;
  display: grid;
  max-width: 1200px;
  justify-content: center;
  transition: 0.3s ease-in;
  grid-template-columns: repeat(3, 1fr);
}

.membershipCard {
  display: flex;
  padding: 1.75rem;
  position: relative;
  border-radius: 8px;
  flex-direction: column;
  transition: 0.3s ease-in;
  border: 1px solid var(--primary);
  box-shadow: 3px 3px 15px hsla(0, 0%, 0%, 0.5);
  background: linear-gradient(to top, var(--header-bg-color), var(--bg-color));
  background-color: var(--header-bg-color);
}

.membershipCard:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 20px hsla(0, 0%, 0%, 0.5);
}

/* Membership name */
.membershipName {
  font-weight: 700;
  font-size: 2.5rem;
  transition: 0.3s ease-in;
}

/* Price / month */
.priceContainer {
  display: flex;
  margin: 0 auto;
  align-items: baseline;
  justify-content: center;
}

.currency,
.price {
  font-weight: 700;
  font-size: 2.5rem;
  transition: 0.3s ease-in;
}

.period {
  font-weight: 500;
  font-size: 1.25rem;
  transition: 0.3s ease-in;
  color: var(--text-secondary);
}

/* Seperator */
.separator {
  width: 75%;
  height: 3px;
  margin: 0.75rem 0;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s ease-in;
  background-color: var(--primary);
}

/* Membership benefits */
.featuresTitle {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  transition: 0.3s ease-in;
}

.featureItem {
  padding: 0.5rem 0;
  position: relative;
  font-size: 1.25rem;
  padding-left: 1.5rem;
  transition: 0.3s ease-in;
  color: var(--text-secondary);
}

/* Checkmark */
.featureItem::before {
  left: 0;
  content: "✓";
  font-weight: bold;
  position: absolute;
  color: var(--primary);
}

/* Sign up button */
.signUpButton {
  width: 100%;
  padding: 0.75rem;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 4px;
  margin-top: 0.75rem;
  transition: 0.3s ease-in;
  color: hsl(0, 0%, 100%);
  background-color: var(--primary);
}

.signUpButton:hover {
  background-color: hsl(0, 100%, 25%);
}

/* Individual styles for popular card */
.membershipCard.popular {
  border: none;
  transition: 0.3s ease-in;
  background: linear-gradient(to top, hsl(0, 100%, 25%), hsl(0, 100%, 35%));
}

.membershipCard.popular .popularBadge {
  left: 50%;
  top: -20px;
  font-weight: 700;
  position: absolute;
  font-size: 1.25rem;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  color: var(--text-primary);
  transform: translateX(-50%);
  background-color: var(--header-bg-color);
  box-shadow: 0px 0px 15px hsla(0, 0%, 0%, 0.5);
}

.membershipCard.popular .membershipName,
.membershipCard.popular .currency,
.membershipCard.popular .price,
.membershipCard.popular .featuresTitle,
.membershipCard.popular .featureItem,
.membershipCard.popular .featureItem::before {
  color: hsl(0, 0%, 100%);
}

.membershipCard.popular .separator {
  background-color: hsl(0, 0%, 100%);
}

.membershipCard.popular .period {
  color: hsl(0, 0%, 80%);
}

/* Sign up button */
.membershipCard.popular .signUpButton {
  color: var(--primary);
  background-color: hsl(0, 0%, 100%);
}

.membershipCard.popular .signUpButton:hover {
  background-color: hsl(0, 0%, 80%);
}

/* Additional Info */
.additionalInfoContainer {
  width: 100vw;
  display: flex;
  padding: 2rem;
  margin-top: 3.5rem;
  align-items: center;
  margin-bottom: -2rem;
  flex-direction: column;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  background: linear-gradient(to top, var(--footer-bg-color), var(--primary));
}

.additionalInfo {
  width: 100%;
  max-width: 1200px;
}

.additionalInfoTitle {
  opacity: 0;
  font-size: 3rem;
  transform: translateY(30px);
}

.additionalInfoTitle.fadeInElement {
  animation: fadeInUp 0.8s ease-out 0.2s forwards;
}

.additionalInfoList li {
  opacity: 0;
  padding: 0.5rem 0;
  font-size: 1.25rem;
  display: inline-block;
  margin-bottom: 0.25rem;
  transform: translateY(30px);
  border-bottom: 2px solid hsl(0, 0%, 80%);
}

.additionalInfoList li.fadeInElement {
  animation: fadeInUp 0.8s ease-out forwards;
}

/* Delayed animations for list items */
.additionalInfoList li:nth-of-type(1).fadeInElement {
  animation-delay: 0.4s;
}

.additionalInfoList li:nth-of-type(2).fadeInElement {
  animation-delay: 0.6s;
}

.additionalInfoList li:nth-of-type(3).fadeInElement {
  animation-delay: 0.8s;
}

.additionalInfoList li:nth-of-type(4).fadeInElement {
  animation-delay: 1s;
}

.additionalInfoList li:nth-of-type(5).fadeInElement {
  animation-delay: 1.2s;
}

.additionalInfoList li:nth-of-type(6).fadeInElement {
  animation-delay: 1.4s;
}

.additionalInfoList li:nth-of-type(7).fadeInElement {
  animation-delay: 1.6s;
}

/* 2 column layout */
@media (max-width: 1270px) {
  .membershipCards {
    max-width: 850px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  /* Heading */
  .heading {
    font-size: 2.5rem;
    margin-top: 1.75rem;
  }

  /* Introduction */
  .introduction {
    font-size: 1.25rem;
  }

  /* Membership cards */
  .membershipCards {
    gap: 2.5rem;
    max-width: 500px;
    grid-template-columns: 1fr;
  }

  .membershipCard {
    padding: 1.5rem;
    border-radius: 6px;
  }

  /* Additional Info */
  .additionalInfoContainer {
    margin-top: 2.5rem;
  }

  .additionalInfoTitle {
    font-size: 2.75rem;
  }

  .additionalInfoList li {
    font-size: 1.15rem;
    border-bottom: 2px solid hsl(0, 0%, 80%);
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  /* Heading */
  .heading {
    font-size: 2.25rem;
    margin-top: 1.5rem;
  }

  /* Introduction */
  .introduction {
    font-size: 1.15rem;
  }

  /* Membership cards */
  .membershipCards {
    gap: 1.75rem;
  }

  .membershipCard {
    padding: 1.25rem;
    border-radius: 4px;
  }

  /* Membership name */
  .membershipName {
    font-size: 2.25rem;
  }

  .currency,
  .price {
    font-size: 2rem;
  }

  .period {
    font-size: 1rem;
  }

  /* Seperator */
  .separator {
    margin: 0.5rem 0;
    margin-left: auto;
    margin-right: auto;
  }

  /* Membership benefits */
  .featuresTitle {
    font-size: 1.25rem;
  }

  .featureItem {
    font-size: 1.15rem;
    padding: 0.35rem 0;
  }

  /* Sign up button */
  .signUpButton {
    font-size: 1.25rem;
  }

  /* Individual styles for popular card */
  .popularBadge {
    top: -20px;
    font-size: 1.15rem;
  }

  .membershipCard.popular .membershipName {
    font-size: 2.25rem;
  }

  .membershipCard.popular .currency,
  .membershipCard.popular .price {
    font-size: 2rem;
  }

  .membershipCard.popular .period {
    font-size: 1rem;
  }

  .membershipCard.popular .separator {
    margin: 0.5rem 0;
    margin-left: auto;
    margin-right: auto;
  }

  .membershipCard.popular .featuresTitle {
    font-size: 1.25rem;
  }

  .membershipCard.popular .featureItem {
    font-size: 1.15rem;
    padding: 0.35rem 0;
  }

  .membershipCard.popular .signUpButton {
    font-size: 1.25rem;
  }

  /* Additional info */
  .additionalInfoContainer {
    margin-top: 2rem;
  }

  .additionalInfoTitle {
    font-size: 2.25rem;
  }

  .additionalInfoList li {
    font-size: 1.15rem;
  }
}

/* Fade in and up animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
