.pricingContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Heading */
.heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  transition: 0.3s ease-in;
  border-bottom: 3px solid var(--primary);
}

/* Introduction */
.introduction {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

/* Membership cards */
.membershipCards > * {
  transition: 0.3s ease-in;
}

.membershipCards {
  gap: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.membershipCard {
  display: flex;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  flex-direction: column;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.5);
  background: linear-gradient(to top, var(--header-bg-color), var(--bg-color));
}

.membershipCard:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 15px hsla(0, 0%, 0%, 0.5);
}

.cardHeader {
  text-align: center;
  margin-bottom: 0.5rem;
}

/* Membership name */
.membershipName {
  font-weight: 700;
  font-size: 2.5rem;
}

/* Membership frequency */
.frequency {
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--text-secondary);
}

/* Price / month */
.priceContainer {
  display: flex;
  text-align: center;
  align-items: baseline;
  justify-content: center;
}

.currency {
  font-size: 3rem;
  font-weight: 700;
}

.price {
  font-size: 3rem;
  font-weight: 700;
}

.period {
  font-size: 1.25rem;
  color: var(--text-secondary);
}

/* Seperator */
.separator {
  width: 75%;
  height: 3px;
  margin: 1rem 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary);
}

/* Membership benefits */
.featuresTitle {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.featureItem {
  padding: 0.5rem 0;
  position: relative;
  font-size: 1.15rem;
  padding-left: 1.5rem;
  color: var(--text-secondary);
}

.featureItem::before {
  left: 0;
  content: "✓";
  font-weight: bold;
  position: absolute;
  color: var(--primary);
}

/* Class access and guest passes */
.additionalInfo {
  margin-top: 1rem;
  font-size: 1.15rem;
  margin-bottom: 1rem;
  color: var(--text-secondary);
}

.additionalInfo p {
  width: 100%;
  font-size: 1.25rem;
}

.additionalInfo p:not(:last-child) {
  margin-bottom: 1rem;
}

.additionalInfo strong {
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--text-primary);
}

/* Saturday disclaimer */
.commonBenefit {
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: var(--grey);
}

.commonBenefit p {
  font-size: 1rem;
  color: var(--grey-text);
}

/* Sign up button */
.signUpButton {
  width: 100%;
  padding: 1rem;
  font-weight: 700;
  font-size: 1.25rem;
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  background-color: var(--primary);
}

.signUpButton:hover {
  transform: translateY(-3px);
  background-color: hsl(0, 100%, 20%);
  box-shadow: 0px 0px 15px hsla(0, 0%, 0%, 0.5);
}

/* Additional Info */
.additionalInfoContainer {
  width: 100vw;
  display: flex;
  padding: 2rem 3rem;
  align-items: center;
  margin-top: 3.5rem;
  margin-bottom: -2rem;
  flex-direction: column;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: linear-gradient(to top, var(--footer-bg-color), var(--primary));
}

.additionalInfoContent {
  width: 100%;
  max-width: 1000px;
}

.additionalInfoTitle {
  font-size: 3rem;
}

.additionalInfoList li {
  padding: 0.5rem 0;
  font-size: 1.25rem;
  display: inline-block;
  margin-bottom: 0.25rem;
  border-bottom: 2px solid hsl(0, 0%, 80%);
}

/* Individual styles for popular card */
.membershipCard.popular > * {
  transition: 0.3s ease-in;
}

.membershipCard.popular {
  transform: scale(1.05);
  background: linear-gradient(to top, hsl(0, 100%, 25%), hsl(0, 100%, 35%));
}

.membershipCard.popular:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 0px 0px 15px hsla(0, 0%, 0%, 0.5);
}

.popularBadge {
  left: 50%;
  top: -12px;
  font-weight: 700;
  position: absolute;
  font-size: 1.25rem;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  color: var(--text-primary);
  transform: translateX(-50%);
  background-color: var(--header-bg-color);
  box-shadow: 0px 0px 15px hsla(0, 0%, 0%, 0.5);
}

.membershipCard.popular .membershipName {
  font-weight: 700;
  font-size: 2.5rem;
  color: hsl(0, 0%, 100%);
}

.membershipCard.popular .frequency {
  font-weight: 400;
  font-size: 1.25rem;
  color: hsl(0, 0%, 80%);
}

.membershipCard.popular .currency {
  font-size: 3rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.membershipCard.popular .price {
  font-size: 3rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.membershipCard.popular .period {
  font-size: 1.25rem;
  color: hsl(0, 0%, 80%);
}

.membershipCard.popular .separator {
  width: 75%;
  height: 3px;
  margin: 1rem 0;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(0, 0%, 100%);
}

.membershipCard.popular .featuresTitle {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: hsl(0, 0%, 100%);
}

.membershipCard.popular .featureItem {
  padding: 0.5rem 0;
  position: relative;
  font-size: 1.15rem;
  padding-left: 1.5rem;
  color: hsl(0, 0%, 100%);
}

.membershipCard.popular .featureItem::before {
  left: 0;
  content: "✓";
  font-weight: bold;
  position: absolute;
  color: hsl(0, 0%, 100%);
}

.membershipCard.popular .additionalInfo {
  margin-top: 1rem;
  font-size: 1.15rem;
  margin-bottom: 1rem;
  color: hsl(0, 0%, 80%);
}

.membershipCard.popular .additionalInfo strong {
  font-weight: 700;
  font-size: 1.25rem;
  color: hsl(0, 0%, 100%);
}

.membershipCard.popular .commonBenefit {
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: hsl(0, 100%, 20%);
}

.membershipCard.popular .commonBenefit p {
  font-size: 1rem;
  color: hsl(0, 0%, 80%);
}

.membershipCard.popular .signUpButton {
  width: 100%;
  padding: 1rem;
  font-weight: 700;
  font-size: 1.25rem;
  border-radius: 8px;
  color: var(--primary);
  background-color: hsl(0, 0%, 100%);
}

.membershipCard.popular .signUpButton:hover {
  transform: translateY(-3px);
  background-color: hsl(0, 0%, 80%);
}

/* Tablet Responsiveness */
@media (max-width: 768px) {
  /* Heading */
  .heading {
    font-size: 2.5rem;
  }

  /* Introduction */
  .introduction {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  /* Membership cards */
  .membershipCards {
    gap: 3rem;
    max-width: 450px;
    grid-template-columns: 1fr;
  }

  .membershipCard {
    padding: 1.75rem;
    border-radius: 6px;
  }

  /* Additional Info */
  .additionalInfoContainer {
    margin-top: 3rem;
  }

  .additionalInfoTitle {
    font-size: 2.75rem;
  }

  .additionalInfoList li {
    font-size: 1.15rem;
    border-bottom: 2 solid hsl(0, 0%, 100%);
  }
}

/* Mobile Responsiveness */
@media (max-width: 480px) {
  /* Heading */
  .heading {
    font-size: 2.25rem;
  }

  /* Introduction */
  .introduction {
    font-size: 1.15rem;
  }

  /* Membership cards */
  .membershipCard {
    padding: 1.5rem;
    border-radius: 4px;
  }

  /* Membership name */
  .membershipName {
    font-size: 2.25rem;
  }

  /* Price / month */
  .currency {
    font-size: 2.5rem;
  }

  .price {
    font-size: 2.5rem;
  }

  .period {
    font-size: 1rem;
  }

  /* Seperator */
  .separator {
    margin: 0.75rem 0;
    margin-left: auto;
    margin-right: auto;
  }

  /* Membership benefits */
  .featuresTitle {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
  }

  .featureItem {
    font-size: 1.1rem;
    padding: 0.25rem 0;
  }

  /* Class access and guest passes */
  .additionalInfo {
    font-size: 1.1rem;
  }

  .additionalInfo p {
    font-size: 1.15rem;
  }

  .additionalInfo strong {
    font-size: 1.15rem;
  }

  /* Saturday disclaimer */
  .commonBenefit {
    padding: 0.75rem;
    border-radius: 4px;
  }

  /* Sign up button */
  .signUpButton {
    padding: 0.75rem;
    font-size: 1.15rem;
    border-radius: 4px;
  }

  /* Additional info */
  .additionalInfoContainer {
    margin-top: 2rem;
  }

  .additionalInfoTitle {
    font-size: 2.5rem;
  }

  .additionalInfoList li {
    font-size: 1.1rem;
  }

  /* Individual styles for popular card */
  .popularBadge {
    top: -15px;
    font-size: 1.15rem;
    border-radius: 4px;
    padding: 0.4rem 0.65rem;
  }

  .membershipCard.popular .membershipName {
    font-size: 2.25rem;
  }

  .membershipCard.popular .currency {
    font-size: 2.5rem;
  }

  .membershipCard.popular .price {
    font-size: 2.5rem;
  }

  .membershipCard.popular .period {
    font-size: 1rem;
  }

  .membershipCard.popular .separator {
    margin: 0.75rem 0;
    margin-left: auto;
    margin-right: auto;
  }

  .membershipCard.popular .featuresTitle {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
  }

  .membershipCard.popular .featureItem {
    font-size: 1.1rem;
    padding: 0.25rem 0;
  }

  .membershipCard.popular .additionalInfo {
    font-size: 1.1rem;
  }

  .membershipCard.popular .additionalInfo p {
    font-size: 1.15rem;
  }

  .membershipCard.popular .additionalInfo strong {
    font-size: 1.15rem;
  }

  .membershipCard.popular .commonBenefit {
    padding: 0.75rem;
    border-radius: 4px;
  }

  .membershipCard.popular .signUpButton {
    padding: 0.75rem;
    font-size: 1.15rem;
    border-radius: 4px;
  }
}
