.whoWeAreSection {
  gap: 3rem;
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.title {
  opacity: 0;
  font-size: 5rem;
  font-weight: 700;
  font-style: italic;
  transition: 0.3s ease-in;
  animation: slideInFromLeft 0.8s ease-out forwards;
}

.seperator {
  width: 3px;
  height: 175px;
  transition: 0.3s ease-in-out;
  background-color: var(--primary);
}

.textContainer {
  flex: 1;
}

.text {
  opacity: 0;
  line-height: 1.5;
  text-align: left;
  font-size: 1.35rem;
  transition: 0.3s ease-in;
  color: var(--text-secondary);
  animation: slideInFromRight 0.8s ease-out 0.3s forwards;
}

@media (max-width: 1200px) {
  .title {
    font-size: 4.5rem;
  }

  .text {
    font-size: 1.25rem;
  }
}

@media (max-width: 1000px) {
  .title {
    font-size: 3.5rem;
  }

  .text {
    font-size: 1.2rem;
  }
}

@media (max-width: 900px) {
  .whoWeAreSection {
    gap: 2rem;
  }

  .title {
    font-size: 3rem;
  }

  .text {
    font-size: 1.15rem;
  }
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .whoWeAreSection {
    gap: 1rem;
    flex-direction: column;
  }

  .title {
    margin-right: auto;
  }

  .seperator {
    height: 3px;
    width: 350px;
    margin-right: auto;
  }

  .text {
    font-size: 1.25rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .whoWeAreSection {
    gap: 0.5rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .seperator {
    height: 3px;
    width: 275px;
  }

  .text {
    line-height: 1.25;
    font-size: 1.15rem;
  }
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
