.ourMissionSection {
  gap: 3rem;
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.textContainer {
  flex: 1;
}

.text {
  line-height: 1.5;
  text-align: right;
  font-size: 1.35rem;
  transition: 0.3s ease-in;
  color: var(--text-secondary);
}

.seperator {
  width: 3px;
  height: 175px;
  transition: 0.3s ease-in-out;
  background-color: var(--primary);
}

.title {
  font-size: 5rem;
  font-weight: 700;
  transition: 0.3s ease-in;
}

@media (max-width: 1200px) {
  .text {
    font-size: 1.25rem;
  }

  .title {
    font-size: 4.5rem;
  }
}

@media (max-width: 1000px) {
  .text {
    font-size: 1.2rem;
  }

  .title {
    font-size: 3.5rem;
  }
}

@media (max-width: 900px) {
  .ourMissionSection {
    gap: 2rem;
  }

  .text {
    font-size: 1.15rem;
  }

  .title {
    font-size: 3rem;
  }
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .ourMissionSection {
    gap: 1rem;
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .text {
    font-size: 1.25rem;
    text-align: center;
  }

  .seperator {
    height: 3px;
    width: 350px;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .ourMissionSection {
    gap: 0.5rem;
  }

  .text {
    line-height: 1.25;
    font-size: 1.15rem;
  }

  .seperator {
    height: 3px;
    width: 275px;
  }

  .title {
    font-size: 2.5rem;
  }
}
