.headerContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.logoContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.kngdm,
.mvmnt {
  width: 100%;
  transition: 0.3s ease-in;
}

.kngdm {
  font-size: 2rem;
  font-weight: 700;
  line-height: 0.75;
}

.mvmnt {
  font-weight: 300;
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.navContainer {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLinks {
  gap: 1rem;
  display: flex;
  font-size: 1.25rem;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
}

.navLinks a {
  font-weight: 500;
  position: relative;
  display: inline-block;
  transition: 0.3s ease-in;
  color: var(--text-primary);
  transition: color 0.3s ease-in;
}

/* Underline animation on hover and active */
.navLinks a::after {
  left: 50%;
  width: 100%;
  height: 2px;
  content: "";
  bottom: -2px;
  position: absolute;
  transform-origin: center;
  background-color: var(--primary);
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.3s ease-in-out;
}

/* Show underline on hover */
.navLinks a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

/* Show underline on active route */
.activeLink::after {
  transform: translateX(-50%) scaleX(1);
}

.freeClassButton {
  font-weight: 500;
  font-size: 1.25rem;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  transition: 0.3s ease-in;
  color: var(--text-primary);
  border: 3px solid var(--primary);
  background-color: var(--header-bg-color);
}

.freeClassButton:hover {
  background-color: var(--primary);
}

@media (max-width: 840px) {
  .kngdm {
    font-size: 1.75rem;
  }

  .mvmnt {
    font-size: 1.15rem;
  }

  .navContainer {
    gap: 0.85rem;
  }

  .navLinks {
    gap: 0.85rem;
    font-size: 1.15rem;
  }

  .freeClassButton {
    font-size: 1.15rem;
    padding: 0.45rem 0.65rem;
  }
}

@media (max-width: 720px) {
  .kngdm {
    font-size: 1.5rem;
  }

  .mvmnt {
    font-size: 1rem;
  }

  .navContainer {
    gap: 0.75rem;
  }

  .navLinks {
    gap: 0.75rem;
    font-size: 1rem;
  }

  .freeClassButton {
    font-size: 1rem;
    padding: 0.35rem 0.55rem;
  }
}

@media (max-width: 640px) {
  .kngdm {
    font-size: 1.25rem;
  }

  .mvmnt {
    font-size: 0.85rem;
  }

  .navContainer {
    gap: 0.5rem;
  }

  .navLinks {
    gap: 0.5rem;
    font-size: 0.95rem;
  }

  .navLinks a {
    font-weight: 400;
  }

  .freeClassButton {
    font-weight: 400;
    font-size: 0.95rem;
    padding: 0.25rem 0.45rem;
  }
}

/* Hamburger Menu Icon */
.hamburger {
  display: none;
  color: var(--text-primary);
}

.hamburger.open {
  transition: 0.3s ease;
  transform: rotate(180deg);
}

/* Mobile Dropdown */
.mobileMenu {
  gap: 0.25rem;
  display: flex;
  max-height: 0;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: max-height 0.5s ease;
}

.mobileMenu.show {
  padding: 1rem;
  max-height: 500px;
}

.mobileMenu a {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  padding: 0.5rem 0.75rem;
}

.mobileMenu a:hover {
  color: var(--text-secondary);
}

.mobileFreeClassButton {
  width: 100%;
  font-size: 1.25rem;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  transition: 0.3s ease-in;
  color: var(--text-primary);
  border: 3px solid var(--primary);
  background-color: var(--header-bg-color);
}

.mobileFreeClassButton:hover {
  background-color: var(--primary);
}

/* Hamburger Breakpoint */
@media (max-width: 570px) {
  .kngdm {
    font-size: 1.75rem;
  }

  .mvmnt {
    font-size: 1.15rem;
  }

  .navContainer {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .mobileMenu {
    display: flex;
  }
}
