/* Sticky header */
header {
  top: 0;
  z-index: 999;
  position: sticky;
  transition: 0.3s ease;
  box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.15);
}

/* Show mobile header on scroll up */
.visible {
  transform: translateY(0%);
}

/* Hide mobile header on scroll down */
.hidden {
  transform: translateY(-100%);
}

.headerContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

/* Logo container */
.logoContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.kngdm,
.mvmnt {
  width: 100%;
  transition: 0.3s ease-in;
}

.kngdm {
  font-weight: 700;
  line-height: 0.75;
  font-size: 2.5rem;
}

.mvmnt {
  line-height: 1;
  font-weight: 300;
  font-size: 1.75rem;
}

/* Site navigation */
.siteNavigation {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLinks {
  gap: 1rem;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
}

.navLink {
  font-weight: 400;
  position: relative;
  display: inline-block;
  transition: 0.3s ease-in;
}

.navLinks a {
  font-weight: 400;
  position: relative;
  display: inline-block;
  transition: 0.3s ease-in;
}

/* Underline effect */
.navLink::after {
  left: 50%;
  width: 100%;
  height: 2px;
  content: "";
  bottom: -3px;
  position: absolute;
  transform-origin: center;
  transition: 0.3s ease-in-out;
  background-color: var(--primary);
  transform: translateX(-50%) scaleX(0);
}

/* Underline on hover */
.navLink:hover::after {
  transform: translateX(-50%) scaleX(1);
}

/* Underline on active page */
.activeLink::after {
  transform: translateX(-50%) scaleX(1);
}

/* Seperator */
.seperator {
  font-size: 1.5rem;
  transition: 0.3s ease-in;
}

/* Theme button */
.themeButton {
  gap: 0.5rem;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
  background-color: var(--header-bg-color);
}

.themeButton:hover {
  color: var(--text-secondary);
}

/* Free class button */
.freeClassButton {
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
  transition: 0.3s ease-in;
  border: 2px solid var(--primary);
  background-color: var(--header-bg-color);
}

.freeClassButton:hover {
  transform: scale(1.05);
  color: hsl(0, 0%, 100%);
  background-color: var(--primary);
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.5);
}

@media (max-width: 900px) {
  .kngdm {
    font-size: 2rem;
  }

  .mvmnt {
    font-size: 1.5rem;
  }

  .siteNavigation {
    gap: 0.85rem;
  }

  .navLinks {
    gap: 0.85rem;
    font-size: 1.25rem;
  }

  .seperator {
    font-size: 1.25rem;
  }

  .themeButton {
    font-size: 1.25rem;
  }

  .freeClassButton {
    font-size: 1.25rem;
    padding: 0.2rem 0.4rem;
  }
}

@media (max-width: 800px) {
  .kngdm {
    font-size: 1.75rem;
  }

  .mvmnt {
    font-size: 1.25rem;
  }

  .siteNavigation {
    gap: 0.75rem;
  }

  .navLinks {
    gap: 0.75rem;
    font-size: 1.15rem;
  }

  .seperator {
    font-size: 1.15rem;
  }

  .themeButton {
    font-size: 1.15rem;
  }

  .freeClassButton {
    font-size: 1.15rem;
    padding: 0.15rem 0.35rem;
  }
}

@media (max-width: 700px) {
  .kngdm {
    font-size: 1.5rem;
  }

  .mvmnt {
    font-size: 1.15rem;
  }

  .siteNavigation {
    gap: 0.5rem;
  }

  .navLinks {
    gap: 0.5rem;
    font-size: 1rem;
  }

  .seperator {
    font-size: 1rem;
  }

  .themeButton {
    font-size: 1rem;
  }

  /* Get rid of theme button icon */
  .themeButton:not(.dropdownThemeButton) p {
    display: none;
  }

  .freeClassButton {
    font-size: 1rem;
  }
}

/* Only show navigation */
@media (max-width: 600px) {
  .themeButton {
    display: none;
  }
}

@media (max-width: 550px) {
  .seperator {
    display: none;
  }

  .freeClassButton {
    display: none;
  }
}

/* Hamburger menu */
.hamburger {
  display: none;
  color: var(--text-primary);
}

.hamburger.open {
  transition: 0.3s ease;
  transform: rotate(180deg);
}

/* Dropdown menu */
.mobileMenu {
  gap: 0.5rem;
  display: flex;
  max-height: 0;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: max-height 0.5s ease;
}

.mobileMenu.show {
  padding: 0.5rem;
  max-height: 500px;
}

.mobileMenu a {
  padding: 0.25rem;
  position: relative;
  font-size: 1.25rem;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease;
}

/* Underline effect */
.mobileMenu a::after {
  left: 50%;
  width: 0%;
  bottom: 0;
  height: 2px;
  content: "";
  position: absolute;
  background-color: var(--primary);
  transition: width 0.3s ease, left 0.3s ease;
}

/* Underline on hover */
.mobileMenu a:not(:last-child):hover::after {
  width: 100%;
  left: 0;
}

/* Underline on active page */
.mobileMenu :global(.active)::after {
  width: 100%;
  left: 0;
}

/* Mobile menu theme button */
.dropdownThemeButton {
  gap: 0.5rem;
  display: flex;
  font-size: 1.25rem;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
  color: var(--text-primary);
  background-color: var(--header-bg-color);
}

.dropdownThemeButton:hover {
  color: var(--text-secondary);
}

.dropdownFreeClassButton {
  font-weight: 500;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  transition: 0.3s ease-in;
  color: var(--text-primary);
  border: 2px solid var(--primary);
  background-color: var(--header-bg-color);
}

.dropdownFreeClassButton:hover {
  transform: scale(1.05);
  color: hsl(0, 0%, 100%);
  background-color: var(--primary);
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.5);
}

/* Mobile Responsiveness/Hamburger menu breakpoint */
@media (max-width: 480px) {
  .kngdm {
    font-size: 1.75rem;
  }

  .mvmnt {
    font-size: 1.25rem;
  }

  .siteNavigation {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .mobileMenu {
    display: flex;
  }
}
