/* Sticky header */
header {
  top: 0;
  z-index: 999;
  position: sticky;
  transition: 0.3s ease;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.15);
}

/* Show mobile header on scroll up */
.visible {
  transform: translateY(0%);
}

/* Hide mobile header on scroll down */
.hidden {
  transform: translateY(-100%);
}

.headerContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
}

/* Desktop header */
.desktopHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logoContainer img {
  width: 175px;
  transition: 0.3s ease-in;
}

.navContainer {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
}

/* Site navigation */
.navItems {
  gap: 1rem;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
}

.navItems a {
  position: relative;
  transition: 0.3s ease-in;
}

/* Hover underline effect */
.navItems a::after {
  left: 50%;
  width: 100%;
  height: 2px;
  content: "";
  bottom: -3px;
  position: absolute;
  transform-origin: center;
  transition: 0.3s ease-in-out;
  background-color: var(--primary);
  transform: translateX(-50%) scaleX(0);
}

/* Prevent hover effect on active link */
.navItems a:hover:not(.activeLink)::after {
  transform: translateX(-50%) scaleX(1);
}

/* Active link */
.navItems a.activeLink {
  border-bottom: 2px solid var(--primary);
}

/* Seperator */
.seperator {
  font-size: 1.5rem;
  transition: 0.3s ease-in;
}

/* Theme button */
.themeButton {
  gap: 0.5rem;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
  color: var(--text-primary);
  background-color: var(--header-bg-color);
}

.themeButton:hover {
  transform: translateY(-3px);
  color: var(--text-secondary);
}

/* Free class button */
.freeClassButton {
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
  transition: 0.3s ease-in;
  border: 2px solid var(--primary);
  background-color: var(--header-bg-color);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.freeClassButton:hover {
  color: hsl(0, 0%, 100%);
  transform: translateY(-3px);
  background-color: var(--primary);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1000px) {
  .logoContainer img {
    width: 150px;
  }

  .navContainer {
    gap: 0.85rem;
  }

  .navItems {
    gap: 0.85rem;
    font-size: 1.25rem;
  }

  .seperator {
    font-size: 1.25rem;
  }

  .themeButton {
    font-size: 1.25rem;
  }

  .freeClassButton {
    font-size: 1.25rem;
    padding: 0.2rem 0.4rem;
  }
}

@media (max-width: 850px) {
  .logoContainer img {
    width: 125px;
  }

  .navContainer {
    gap: 0.75rem;
  }

  .navItems {
    gap: 0.75rem;
    font-size: 1.15rem;
  }

  .seperator {
    font-size: 1.15rem;
  }

  .themeButton {
    font-size: 1.15rem;
  }

  .freeClassButton {
    font-size: 1.15rem;
    padding: 0.15rem 0.35rem;
  }
}

@media (max-width: 775px) {
  .navContainer {
    gap: 0.5rem;
  }

  .navItems {
    gap: 0.5rem;
    font-size: 1rem;
  }

  .seperator {
    font-size: 1rem;
  }

  .themeButton {
    font-size: 1rem;
  }

  /* Get rid of theme button icon */
  .themeButton:not(.sidebarThemeButton) p {
    display: none;
  }

  .freeClassButton {
    font-size: 1rem;
    border-radius: 4px;
  }
}

/* Only show navigation */
@media (max-width: 650px) {
  .logoContainer img {
    width: 100px;
  }

  .themeButton {
    display: none;
  }
}

@media (max-width: 600px) {
  .seperator {
    display: none;
  }

  .freeClassButton {
    display: none;
  }
}

/* Mobile header */
.mobileHeader {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}

/* Phone icon */
.phoneButton {
  display: none;
  background: none;
  font-size: 0.875rem;
  transition: 0.3s ease-in;
  color: var(--text-primary);
}

.phoneButton:hover {
  transform: scale(1.15);
  color: var(--text-secondary);
}

/* Logo */
.mobileLogoContainer img {
  width: 125px;
}

/* Hamburger icon */
.hamburger {
  display: none;
  background: none;
  font-size: 0.875rem;
  color: var(--text-primary);
  transition: transform 0.2s ease-in, color 0.3s ease-in;
}

.hamburger:hover {
  transform: scale(1.15);
  color: var(--text-secondary);
}

.hamburger i {
  transition: transform 0.3s ease-in-out;
}

.hamburger i.spin {
  animation: hamburgerSpin 0.3s ease-in-out;
}

@keyframes hamburgerSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Hide desktop layout and show mobile layout */
@media (max-width: 480px) {
  .desktopHeader {
    display: none;
  }

  .mobileHeader {
    display: flex;
  }

  .phoneButton {
    display: block;
  }

  .hamburger {
    display: block;
  }
}

/* Sidebar */
.sidebarOverlay {
  inset: 0;
  z-index: 999;
  display: flex;
  position: fixed;
  background: hsla(0, 0%, 0%, 0.75);
}

.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1.25rem;
  max-width: 250px;
  position: relative;
  flex-direction: column;
  background-color: var(--header-bg-color);
}

/* Sidebar close button */
.sidebarClose {
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  background: none;
  position: absolute;
  font-size: 1.25rem;
  transition: 0.3s ease-in;
  color: var(--text-primary);
}

.sidebarClose:hover {
  transform: scale(1.15);
  color: var(--text-secondary);
}

/* Sidebar site navigation */
.sidebarNavItems {
  gap: 1rem;
  display: flex;
  font-size: 1.25rem;
  margin-top: 2.25rem;
  flex-direction: column;
}

.sidebarNavItems a {
  gap: 0.75rem;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in;
  justify-content: flex-start;
}

/* Prevent hover effect on active link */
.sidebarNavItems a:hover:not(.activeLink) {
  transform: translateX(5px);
}

/* Active link */
.sidebarNavItems a.activeLink {
  border-radius: 0.15rem;
  padding: 0.5rem 0.75rem;
  color: hsl(0, 0%, 100%);
  background-color: var(--primary);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

/* Seperator */
.sidebarSeperator {
  border: none;
  height: 1.5px;
  background-color: var(--primary-dark);
}

/* Free class button */
.sidebarFreeClassButton {
  display: flex;
  font-weight: 500;
  align-items: center;
  border-radius: 0.15rem;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  transition: 0.2s ease-in;
  border: 2px solid var(--primary);
  background-color: var(--header-bg-color);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

/* Override the anchor tag hover effect inside the button */
.sidebarFreeClassButton a:hover {
  transform: none !important;
}

.sidebarFreeClassButton:hover {
  color: hsl(0, 0%, 100%);
  background-color: var(--primary);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

/* Sidebar footer */
.sidebarFooter {
  gap: 0.75rem;
  padding: 0;
  display: flex;
  margin-top: auto;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.3s ease-in;
  color: var(--text-secondary);
  background-color: var(--header-bg-color);
}

/* Theme button */
.sidebarThemeButton {
  gap: 0.75rem;
  display: flex;
  font-size: 1.15rem;
  transition: 0.3s ease-in;
  color: var(--text-secondary);
}

.sidebarThemeButton i {
  color: var(--text-primary);
}

.sidebarThemeButton:hover {
  color: var(--text-primary);
  transform: translateX(5px);
}

/* Legal pages */
.sidebarFooter a {
  gap: 0.75rem;
  display: flex;
  font-size: 1.15rem;
  transition: 0.3s ease-in;
  color: var(--text-secondary);
}

.sidebarFooter a i {
  color: var(--text-primary);
}

.sidebarFooter a:hover {
  color: var(--text-primary);
  transform: translateX(5px);
}
