.scheduleContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heroBanner {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.heroImage {
  height: 0;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
}

.heroImage img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  object-position: center;
}

.heroOverlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.5) 50%, var(--bg-color) 100%);
}

.heroContent {
  z-index: 2;
  padding: 2rem;
  color: hsl(0, 0%, 100%);
}

.heroContent h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.heroContent p {
  margin: 0 auto;
  max-width: 800px;
  font-size: 1.75rem;
}

@media (max-width: 768px) {
  .heroImage {
    padding-bottom: 125%;
  }

  .heroContent {
    padding: 1.75rem;
  }

  .heroContent h1 {
    font-size: 2.25rem;
    margin-bottom: 0.75rem;
  }
  .heroContent p {
    font-size: 1.25rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .heroContent h1 {
    font-size: 2rem;
  }

  .heroContent p {
    font-size: 1.125rem;
  }
}

@media (max-width: 480px) {
  .heroContent {
    padding: 1.5rem;
  }

  .heroContent h1 {
    font-size: 1.75rem;
  }
  .heroContent p {
    font-size: 1rem;
  }
}
