.ctaComponent {
  width: 100%;
  padding: 2rem;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  background: linear-gradient(to top, var(--footer-bg-color), var(--primary));
}

/* Logo container */
.logoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  flex-direction: column;
  justify-content: center;
}

.kngdm {
  width: 100%;
  font-weight: 700;
  line-height: 0.75;
  font-size: 3.75rem;
  transition: 0.3s ease-in;
}

.mvmnt {
  width: 100%;
  line-height: 1;
  font-weight: 300;
  font-size: 2.75rem;
  transition: 0.3s ease-in;
}

/* Text */
.text {
  max-width: 850px;
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: 1rem;
  transition: 0.3s ease-in;
}

/* Join button */
.joinButton {
  font-weight: 500;
  font-size: 1.75rem;
  border-radius: 8px;
  margin-top: 0.15rem;
  padding: 0.5rem 0.75rem;
  transition: 0.3s ease-in;
  border: 2px solid hsl(0, 0%, 100%);
}

.joinButton:hover {
  transform: scale(1.05);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .kngdm {
    font-size: 3.25rem;
  }

  .mvmnt {
    font-size: 2.25rem;
  }

  .text {
    max-width: 650px;
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }

  .joinButton {
    font-size: 1.5rem;
    margin-top: 0.1rem;
    border-radius: 6px;
    padding: 0.4rem 0.65rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .kngdm {
    font-size: 2.75rem;
  }

  .mvmnt {
    font-size: 1.75rem;
  }

  .text {
    max-width: 400px;
    font-size: 1.15rem;
    margin-bottom: 0.5rem;
  }

  .joinButton {
    font-size: 1.25rem;
    border-radius: 4px;
    padding: 0.3rem 0.55rem;
  }
}
