.footerContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
}

.navContainer {
  width: 100%;
  display: flex;
  margin-bottom: 1.5rem;
  align-items: flex-start;
  justify-content: space-between;
}

.navigationSection,
.contactSection,
.legalSection,
.socialSection {
  display: flex;
  flex-direction: column;
}

.navHeader {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

.footerNav {
  gap: 0.25rem;
  display: flex;
  font-weight: 400;
  flex-direction: column;
}

.footerNav a {
  position: relative;
  font-size: 1.25rem;
  transition: 0.3s ease-in;
  color: var(--text-secondary);
}

/* Underline Effect */
.footerNav a::after {
  left: 50%;
  width: 100%;
  height: 2px;
  content: "";
  bottom: -3px;
  position: absolute;
  transform-origin: center;
  transition: 0.3s ease-in-out;
  background-color: var(--primary);
  transform: translateX(-50%) scaleX(0);
}

/* Underline on hover */
.footerNav a:hover {
  color: var(--text-primary);
}

/* Underline on active page */
.footerNav a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.legalContainer {
  text-align: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  flex-direction: column;
  justify-content: center;
}

.kngdm,
.mvmnt {
  width: 100%;
  transition: 0.3s ease-in;
}

.kngdm {
  font-weight: 700;
  line-height: 0.75;
  font-size: 2.75rem;
}

.mvmnt {
  line-height: 1;
  font-weight: 300;
  font-size: 2rem;
}

.legalDisclaimer {
  margin: 0 auto;
  max-width: 800px;
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
  color: var(--text-secondary);
}

.copyright {
  font-size: 1.15rem;
  color: var(--text-primary);
}

/* Tablet Breakpoint */
@media (max-width: 768px) {
  .navContainer {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .navigationSection,
  .contactSection,
  .legalSection,
  .socialSection {
    text-align: center;
  }

  .navigationSection:not(:last-child),
  .contactSection:not(:last-child),
  .legalSection:not(:last-child),
  .socialSection:not(:last-child) {
    margin-bottom: 1rem;
  }

  .navHeader {
    font-size: 1.75rem;
  }

  .footerNav a {
    font-size: 1.5rem;
  }

  .legalDisclaimer {
    max-width: 500px;
  }
}

/* Mobile Breakpoint */
@media (max-width: 480px) {
  .navContainer {
    margin-bottom: 1rem;
  }

  .navigationSection:not(:last-child),
  .contactSection:not(:last-child),
  .legalSection:not(:last-child),
  .socialSection:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .navHeader {
    font-size: 1.5rem;
  }

  .footerNav a {
    font-size: 1.25rem;
  }

  .kngdm {
    font-size: 2.5rem;
  }

  .mvmnt {
    font-size: 1.75rem;
  }

  .legalDisclaimer {
    font-size: 1rem;
    margin-bottom: 0.25rem;
    color: var(--text-secondary);
  }

  .copyright {
    font-size: 1rem;
    color: var(--text-primary);
  }
}
