.pageNotFoundContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  min-height: 50vh;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Introduction */
.pageNotFoundIntroduction {
  text-align: center;
  margin-bottom: 1rem;
}

/* Title */
.pageNotFoundTitle {
  font-size: 3.5rem;
  display: inline-block;
  transition: 0.3s ease;
  margin-bottom: 0.75rem;
  border-bottom: 3px solid var(--primary);
}

/* Description */
.pageNotFoundDescription {
  line-height: 1.25;
  font-size: 1.25rem;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

/* Home link */
.backButton {
  font-weight: 500;
  font-size: 1.75rem;
  font-style: italic;
  padding: 0.75rem 1rem;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  color: hsl(0, 0%, 100%);
  background-color: var(--primary);
  box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.75);
  text-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.5);
}

.backButton:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.5);
  text-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.25);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .pageNotFoundTitle {
    font-size: 2.5rem;
  }

  .pageNotFoundDescription {
    font-size: 1.15rem;
  }

  .backButton {
    font-size: 1.25rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .pageNotFoundTitle {
    font-size: 2rem;
    border-bottom: 2px solid var(--primary);
  }

  .pageNotFoundDescription {
    font-size: 1rem;
  }

  .backButton {
    font-size: 1.15rem;
  }
}
